{% extends "layout.html" %} {% block content %}
<h2>Recipe Suggestions</h2>
<form method="post">
  {{ form.hidden_tag() }}
  <div class="mb-3">
    {{ form.dietary.label(class="form-label") }} {{
    form.dietary(class="form-select") }}
  </div>
  {{ form.submit(class="btn btn-primary") }}
</form>
<div class="row mt-4">
  {% for recipe in recipes %}
  <div class="col-md-4 mb-4">
    <div class="card h-100">
      <a href="{{ url_for('recipe_details', recipe_id=recipe['id']) }}">
        <img
          src="{{ recipe['image'] }}"
          class="card-img-top"
          alt="{{ recipe['title'] }}"
        />
      </a>
      <div class="card-body">
        <h5 class="card-title">{{ recipe['title'] }}</h5>
        <p>Cook time: {{ recipe['readyInMinutes'] }} min</p>
        <p>Difficulty: {{ recipe['difficulty'] or 'N/A' }}</p>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
