{% extends 'layout.html' %} {% block content %}
<div class="login-container">
  <h2 class="form-title">Sign Up</h2>
  <form action="{{ url_for('signup') }}" method="post" class="login-form">
    {{ form.hidden_tag() }}
    <div class="input__wrapper">
      {{ form.username.label }} {{ form.username(class="input__field") }}
    </div>
    <div class="input__wrapper">
      {{ form.email.label }} {{ form.email(class="input__field", required=false) }}
      <small class="form-text text-muted">(Optional)</small>
    </div>
    <div class="input__wrapper">
      {{ form.password.label }} {{ form.password(class="input__field") }}
    </div>
    <div class="input__wrapper">
      {{ form.confirm_password.label }} {{ form.confirm_password(class="input__field") }}
    </div>
    <div class="input__wrapper">
      {{ form.location.label }} {{ form.location(class="input__field") }}
    </div>
    </div>
    <div class="input__wrapper">{{ form.submit(class="btn") }}</div>
    <div class="input__wrapper">
      <h3 class="form-other">
        Already have an account? <a href="{{ url_for('login') }}">Login</a>
      </h3>
    </div>
  </form>
  {% with messages = get_flashed_messages(with_categories=true) %} {% if
  messages %}
  <div class="flash-messages mt-3">
    {% for category, message in messages %}
    <p class="flash-message {{ category }}">{{ message }}</p>
    {% endfor %}
  </div>
  {% endif %} {% endwith %}
</div>
{% endblock %}
